@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library Project</h1>    
    <main>
        <p>This is a simple .NET 7 project using Razor pages with Entity framework.</p>
        <p>This application is accessing a SQL Server database directly on Azure. And it is also published on <a href="https://libraryprojectrazor.azurewebsites.net/" target="_blank">Azure</a>.</p>
        <p>For more details, visit github: <a href="https://github.com/eversonsilva7/LibraryProject-Razor" target="_blank">LibraryProject-Razor</a></p>
    </main>
</div>
